<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <div class="container container-fluid">
      <div class="workout-show-text">
        <h3 id="workout-name"><%= workout.workout %></h1>
        <br>

        <h4>Date: <small><%= workout.date %></small></h2>
        <h4>Notes: <small><%= workout.notes %></small></h2>
        <br>
        <p> <a class="btn btn-primary" href="/workout_tracker/workouts/<%= workout._id %>/edit" role="button">Edit Workout</a> </p>

      </div>
      <br>

      <h5><%= workout.exercise1.name %>:</h5>
      <table class="workout-show-table">
        <tr class="table-row">
          <td>&nbsp;Weight:</td>
          <td>&nbsp;<%= workout.exercise1.weight[0] %></td>
          <td>&nbsp;<%= workout.exercise1.weight[1] %></td>
          <td>&nbsp;<%= workout.exercise1.weight[2] %></td>
          <td>&nbsp;<%= workout.exercise1.weight[3] %></td>
          <td>&nbsp;<%= workout.exercise1.weight[4] %></td>
          <td>&nbsp;<%= workout.exercise1.weight[5] %></td>
        </tr>
        <tr class="table-row">
          <td>&nbsp;Reps:</td>
          <td>&nbsp;<%= workout.exercise1.reps[0] %></td>
          <td>&nbsp;<%= workout.exercise1.reps[1] %></td>
          <td>&nbsp;<%= workout.exercise1.reps[2] %></td>
          <td>&nbsp;<%= workout.exercise1.reps[3] %></td>
          <td>&nbsp;<%= workout.exercise1.reps[4] %></td>
          <td>&nbsp;<%= workout.exercise1.reps[5] %></td>
        </tr>
      </table>

      <h5><%= workout.exercise2.name %></h5>
      <table class="workout-show-table">
        <tr class="table-row">
          <td>&nbsp;Weight:</td>
          <td>&nbsp;<%= workout.exercise2.weight[0] %></td>
          <td>&nbsp;<%= workout.exercise2.weight[1] %></td>
          <td>&nbsp;<%= workout.exercise2.weight[2] %></td>
          <td>&nbsp;<%= workout.exercise2.weight[3] %></td>
          <td>&nbsp;<%= workout.exercise2.weight[4] %></td>
          <td>&nbsp;<%= workout.exercise2.weight[5] %></td>
        </tr>
        <tr class="table-row">
          <td>&nbsp;Reps:</td>
          <td>&nbsp;<%= workout.exercise2.reps[0] %></td>
          <td>&nbsp;<%= workout.exercise2.reps[1] %></td>
          <td>&nbsp;<%= workout.exercise2.reps[2] %></td>
          <td>&nbsp;<%= workout.exercise2.reps[3] %></td>
          <td>&nbsp;<%= workout.exercise2.reps[4] %></td>
          <td>&nbsp;<%= workout.exercise2.reps[5] %></td>
        </tr>
      </table>

      <h5><%= workout.exercise3.name %></h5>
      <table class="workout-show-table">
        <tr class="table-row">
          <td>&nbsp;Weight:</td>
          <td>&nbsp;<%= workout.exercise3.weight[0] %></td>
          <td>&nbsp;<%= workout.exercise3.weight[1] %></td>
          <td>&nbsp;<%= workout.exercise3.weight[2] %></td>
          <td>&nbsp;<%= workout.exercise3.weight[3] %></td>
          <td>&nbsp;<%= workout.exercise3.weight[4] %></td>
          <td>&nbsp;<%= workout.exercise3.weight[5] %></td>
        </tr>
        <tr class="table-row">
          <td>&nbsp;Reps:</td>
          <td>&nbsp;<%= workout.exercise3.reps[0] %></td>
          <td>&nbsp;<%= workout.exercise3.reps[1] %></td>
          <td>&nbsp;<%= workout.exercise3.reps[2] %></td>
          <td>&nbsp;<%= workout.exercise3.reps[3] %></td>
          <td>&nbsp;<%= workout.exercise3.reps[4] %></td>
          <td>&nbsp;<%= workout.exercise3.reps[5] %></td>
        </tr>
      </table>

      <h5><%= workout.exercise4.name %></h5>
      <table class="workout-show-table">
        <tr class="table-row">
          <td>&nbsp;Weight:</td>
          <td>&nbsp;<%= workout.exercise4.weight[0] %></td>
          <td>&nbsp;<%= workout.exercise4.weight[1] %></td>
          <td>&nbsp;<%= workout.exercise4.weight[2] %></td>
          <td>&nbsp;<%= workout.exercise4.weight[3] %></td>
          <td>&nbsp;<%= workout.exercise4.weight[4] %></td>
          <td>&nbsp;<%= workout.exercise4.weight[5] %></td>
        </tr>
        <tr class="table-row">
          <td>&nbsp;Reps:</td>
          <td>&nbsp;<%= workout.exercise4.reps[0] %></td>
          <td>&nbsp;<%= workout.exercise4.reps[1] %></td>
          <td>&nbsp;<%= workout.exercise4.reps[2] %></td>
          <td>&nbsp;<%= workout.exercise4.reps[3] %></td>
          <td>&nbsp;<%= workout.exercise4.reps[4] %></td>
          <td>&nbsp;<%= workout.exercise4.reps[5] %></td>
        </tr>
      </table>

      <h5><%= workout.exercise5.name %></h5>
      <table class="workout-show-table">
        <tr class="table-row">
          <td>&nbsp;Weight:</td>
          <td>&nbsp;<%= workout.exercise5.weight[0] %></td>
          <td>&nbsp;<%= workout.exercise5.weight[1] %></td>
          <td>&nbsp;<%= workout.exercise5.weight[2] %></td>
          <td>&nbsp;<%= workout.exercise5.weight[3] %></td>
          <td>&nbsp;<%= workout.exercise5.weight[4] %></td>
          <td>&nbsp;<%= workout.exercise5.weight[5] %></td>
        </tr>
        <tr class="table-row">
          <td>&nbsp;Reps:</td>
          <td>&nbsp;<%= workout.exercise5.reps[0] %></td>
          <td>&nbsp;<%= workout.exercise5.reps[1] %></td>
          <td>&nbsp;<%= workout.exercise5.reps[2] %></td>
          <td>&nbsp;<%= workout.exercise5.reps[3] %></td>
          <td>&nbsp;<%= workout.exercise5.reps[4] %></td>
          <td>&nbsp;<%= workout.exercise5.reps[5] %></td>
        </tr>
      </table>

      <h5><%= workout.exercise6.name %></h5>
      <table class="workout-show-table">
        <tr class="table-row">
          <td>&nbsp;Weight:</td>
          <td>&nbsp;<%= workout.exercise6.weight[0] %></td>
          <td>&nbsp;<%= workout.exercise6.weight[1] %></td>
          <td>&nbsp;<%= workout.exercise6.weight[2] %></td>
          <td>&nbsp;<%= workout.exercise6.weight[3] %></td>
          <td>&nbsp;<%= workout.exercise6.weight[4] %></td>
          <td>&nbsp;<%= workout.exercise6.weight[5] %></td>
        </tr>
        <tr class="table-row ">
          <td>&nbsp;Reps:</td>
          <td>&nbsp;<%= workout.exercise6.reps[0] %></td>
          <td>&nbsp;<%= workout.exercise6.reps[1] %></td>
          <td>&nbsp;<%= workout.exercise6.reps[2] %></td>
          <td>&nbsp;<%= workout.exercise6.reps[3] %></td>
          <td>&nbsp;<%= workout.exercise6.reps[4] %></td>
          <td>&nbsp;<%= workout.exercise6.reps[5] %></td>
        </tr>
      </table>

      <h5><%= workout.exercise7.name %></h5>
      <table class="workout-show-table">
        <tr class="table-row">
          <td>&nbsp;Weight:</td>
          <td>&nbsp;<%= workout.exercise7.weight[0] %></td>
          <td>&nbsp;<%= workout.exercise7.weight[1] %></td>
          <td>&nbsp;<%= workout.exercise7.weight[2] %></td>
          <td>&nbsp;<%= workout.exercise7.weight[3] %></td>
          <td>&nbsp;<%= workout.exercise7.weight[4] %></td>
          <td>&nbsp;<%= workout.exercise7.weight[5] %></td>
        </tr>
        <tr class="table-row">
          <td>&nbsp;Reps:</td>
          <td>&nbsp;<%= workout.exercise7.reps[0] %></td>
          <td>&nbsp;<%= workout.exercise7.reps[1] %></td>
          <td>&nbsp;<%= workout.exercise7.reps[2] %></td>
          <td>&nbsp;<%= workout.exercise7.reps[3] %></td>
          <td>&nbsp;<%= workout.exercise7.reps[4] %></td>
          <td>&nbsp;<%= workout.exercise7.reps[5] %></td>
        </tr>
      </table>

      <h5><%= workout.exercise8.name %></h5>
      <table class="workout-show-table">
        <tr class="table-row">
          <td>&nbsp;Weight:</td>
          <td>&nbsp;<%= workout.exercise8.weight[0] %></td>
          <td>&nbsp;<%= workout.exercise8.weight[1] %></td>
          <td>&nbsp;<%= workout.exercise8.weight[2] %></td>
          <td>&nbsp;<%= workout.exercise8.weight[3] %></td>
          <td>&nbsp;<%= workout.exercise8.weight[4] %></td>
          <td>&nbsp;<%= workout.exercise8.weight[5] %></td>
        </tr>
        <tr class="table-row">
          <td>&nbsp;Reps:</td>
          <td>&nbsp;<%= workout.exercise8.reps[0] %></td>
          <td>&nbsp;<%= workout.exercise8.reps[1] %></td>
          <td>&nbsp;<%= workout.exercise8.reps[2] %></td>
          <td>&nbsp;<%= workout.exercise8.reps[3] %></td>
          <td>&nbsp;<%= workout.exercise8.reps[4] %></td>
          <td>&nbsp;<%= workout.exercise8.reps[5] %></td>
        </tr>
      </table>

      <br>
      <hr>
      <h4 class="workout-show-text">GymRat Comments:</h4>

      <div class="comments-container">
         <% for (comment of comments) { %>
             <div class="comment">
               <p><b><%= comment.author %>:</b></p>
               <p><i><%= comment.content %></i></p>
             </div>
           <% } %>
      </div>
      <hr>

      <div class="delete-container">
        <form action="/workout_tracker/workouts/<%= workout._id %>?_method=DELETE" method="post">
          <input type="submit" class="btn btn-danger" value="Delete Workout"/>
        </form>
      </div>
    </div>
  </body>
</html>
